name: Build, Test, and Release

on:
  push:
    branches:
      - master
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch to run against"
        required: false

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0
      - name: Luacheck
        uses: nebularg/actions-luacheck@v1
        with:
          args: "--no-color"
          path: ${{ github.workspace }}
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: linting

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0
      - name: Install OS Libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential jq libreadline-dev python3 python3-pip
          pip3 install mistune==2.0.0rc1
      - uses: leafo/gh-actions-lua@v9
        with:
          luaVersion: "5.1"
      - uses: leafo/gh-actions-luarocks@v4
        with:
          luarocksVersion: "3.8.0"
      - name: Install Lua Libraries
        run: |
          luarocks install luafilesystem      
          luarocks install busted
          luarocks install xml2lua
          luarocks install penlight
          luarocks install bitlib
          luarocks install luasec
          luarocks install lanes
          luarocks install copas
          luarocks install copas-async
          luarocks install luacov
          luarocks install cluacov
          luarocks install luacov-coveralls
      - name: Test
        working-directory: ${{ github.workspace }}
        run: |
          busted -c -o gtest .
      - name: Code Coverage (Coveralls)
        if: success()
        continue-on-error: true
        working-directory: ${{ github.workspace }}
        run: luacov-coveralls -v -r ${{ github.workspace }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          fetch-depth: 0
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install Node Packages
        run: |
          npm install --save-dev --legacy-peer-deps semantic-release@v23.0.8
          npm install --save-dev --legacy-peer-deps conventional-changelog-eslint@5.0.0
          npm install --save-dev --legacy-peer-deps conventional-changelog-conventionalcommits@7.0.2
          npm install --save-dev --legacy-peer-deps @semantic-release/release-notes-generator
          npm install --save-dev --legacy-peer-deps @semantic-release/changelog
          npm install --save-dev --legacy-peer-deps @semantic-release/github
          npm install --save-dev --legacy-peer-deps @semantic-release/git
          npm install --save-dev --legacy-peer-deps @semantic-release/exec
          pip3 install mistune==2.0.0rc1
      - name: Package and Publish
        run: npx -y semantic-release --debug
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.github_token }}
          GITHUB_OAUTH: ${{ secrets.github_token }}
          BUILD_DIR: ${{ github.workspace }}
